
@model List<RudycommerceData.Models.ASPModels.ProductListItem>

@{
    Layout = null;
}

@if (Model.Count <= 0)
{
    <div class="col-12 font-size-2 content-horizontal-center">
        @Resources.Global.NoProductsFoundFilter
    </div>
}
else
{


    foreach (var product in Model)
    {
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">

        <div class="card product-card">

            <div class="card-image-top">
                <a href="@Url.Action("Details", new { ID = product.ProductID })">
                    <img src="@product.ImageURL" alt="@product.Name"
                         class="product-image" />
                </a>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item name-li">
                    <h4 class="card-text product-name">
                        @Html.ActionLink(product.Name, "Details",
                      new { ID = product.ProductID })
                    </h4>
                </li>
                <li class="list-group-item">
                    @if (!product.TopSpec1IsBool)
                    {
                        <div class="top-spec">
                            @product.TopSpec1
                        </div>
                    }
                    else
                    {
                        @(product.TopSpec1Name + ": ")

                        if ((bool)product.Bool1Value)
                        {
                            <img alt="@Resources.ImgAltTexts.TrueIcon" class="bool-value" src="~/Images/64_GreenCheck.png" />
                        }
                        else
                        {
                            <img alt="@Resources.ImgAltTexts.FalseIcon" class="bool-value" src="~/Images/64_RedCross.png" />
                        }
                    }
                </li>
                <li class="list-group-item">
                    @if (!product.TopSpec2IsBool)
                    {
                        <div class="top-spec">
                            @product.TopSpec2
                        </div>
                    }
                    else
                    {
                        @(product.TopSpec2Name + ": ")

                        if ((bool)product.Bool2Value)
                        {
                            <img alt="@Resources.ImgAltTexts.TrueIcon" class="bool-value" src="~/Images/64_GreenCheck.png" />
                        }
                        else
                        {
                            <img alt="@Resources.ImgAltTexts.FalseIcon" class="bool-value" src="~/Images/64_RedCross.png" />
                        }
                    }
                </li>
            </ul>

            <div class="card-footer container">
                <div class="row">
                    <div class="col-7 price">
                        € @product.UnitPrice
                    </div>


                    <div class="call-to-action col-5">
                        <button class="add-to-cart" type="button" onclick="cart.addToCart(event, @product.ProductID, '@product.Name', '@product.UnitPrice'); return false;">
                            <img alt="@String.Format(Resources.ImgAltTexts.AddProductToCart, product.Name)" src="~/Images/64_AddToCartBlue.png" />
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>
    }
}


