@model List<RudycommerceData.Models.ASPModels.CartOverviewItem>

@{
    ViewBag.Title = Resources.Checkout.CartOverviewTitleShort;

    Decimal totalPrice = 0;
}

<div class="container">

    <h2> @Resources.Checkout.CartOverviewTitle </h2>

    <hr />

    @if (Model != null)
    {
        @using (Html.BeginForm("CartOverview", "Products", FormMethod.Post))
        {
            <div class="well">
                @{ string hidden = "";}
                @if (Model == null)
                {

                }
                else
                {
                    hidden = "hide";
                    <div id="product-overview-filled">
                        @foreach (var prod in Model)
                        {
                            totalPrice += prod.Price;
                            string idQuantity = "quantity" + prod.ProductID.ToString();
                            string idPrice = "price" + prod.ProductID.ToString();
                            string idRow = "overviewrow" + prod.ProductID.ToString();
                            int indx = Model.IndexOf(prod);

                            <div id="@idRow" class="cart-overview-row">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-3 imgdiv content-center">
                                        <a href="@Url.Action("Details", new { ID = prod.ProductID })" class="h-100 content-center">
                                            <img @*alt="@prod.ProductName"*@ class="responsive-image" src="@prod.ImageURL" />
                                        </a>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-3 content-vertical-center product-name">
                                        @Html.ActionLink(prod.ProductName, "Details", "Products", new { ID = prod.ProductID }, new { @class = "black-link" })
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-2 content-vertical-center">
                                        <div class="container">
                                            <div class="row quantity-row">
                                                <div class="col-2"></div>
                                                <div class="col-3 content-center">
                                                    <button class="btn btn-danger" onclick="cartOverview.minusProduct(event, @prod.ProductID)" type="button">
                                                        -
                                                    </button>
                                                </div>
                                                <div id="@idQuantity" class="col-2 content-center quantity">
                                                    @prod.Quantity
                                                </div>
                                                <div class="col-3 content-center">
                                                    <button class="btn btn-success content-center" onclick="cartOverview.plusProduct(event, @prod.ProductID)" type="button">
                                                        +
                                                    </button>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="@idPrice" class="col-6 col-sm-4 col-md-3 content-vertical-center price">
                                        € @prod.Price
                                    </div>

                                    <div class="col-4 col-sm-2 col-md-1 mobile-hide content-center">
                                        <button class="btn btn-dark btn-round" onclick="cartOverview.deleteProduct(event, @prod.ProductID)" type="button">
                                            X
                                        </button>
                                    </div>
                                    <div class="remove-product nonmobile-hide content-center">
                                        <button class="btn btn-dark btn-round" onclick="cartOverview.deleteProduct(event, @prod.ProductID)" type="button">
                                            X
                                        </button>
                                    </div>
                                </div>
                                <hr class="hr80" />
                            </div>
                        }

                        <div id="overview-total-price">

                            <div class="row total-price">
                                <div class="col-12 col-sm-8 content-vertcen-right price">
                                    @Resources.Global.TotalPrice:
                                </div>

                                <div id="totalpriceoverview" class="col-12 col-sm-4 content-vertical-center price">
                                    € @System.Math.Round(totalPrice, 2)
                                </div>
                            </div>

                            <div class="row order">
                                <div class="col-12 checkout">
                                    @Html.Partial("_BackToHomepageButton")
                                    <button class="btn btn-success" type="submit">
                                        @Resources.Global.Checkout
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div id="product-overview-empty" class="@hidden">
                    <div class="content-horizontal-center">@Resources.Checkout.CartEmptyLetsFillIt</div>
                    <div class="content-vertcen-right"><button type="button" onclick="location.href='@Url.Action("Index", "Products")'" class="btn btn-secondary">@Resources.Checkout.CartEmptyBackToHomepage</button></div>
                </div>
            </div>
        }
    }
    else
    {
        <div id="product-overview-empty">
            <div class="content-horizontal-center">@Resources.Checkout.CartEmptyLetsFillIt</div>
            <div class="content-vertcen-right"><button type="button" onclick="location.href='@Url.Action("Index", "Products")'" class="btn btn-secondary">@Resources.Checkout.CartEmptyBackToHomepage</button></div>
        </div>
    }




</div>

@section Styles {
    @Styles.Render("~/Content/Pages/CartOverview.css")
}

@section scripts{

    <script>

        var cartOverview = {
            deleteProduct: function (event, deleteID) {
                var cartContent = cart.getCurrentCart();

                var index = cartContent.productList.findIndex(p => p.id === deleteID);
                cart.removeFromCart(event, index);

                this.removeDisplayedProduct(event, deleteID);

                this.updateTotalPrice();
            },

            minusProduct: function (event, id) {
                var newQuantity = cart.removeOneFromCart(event, id);

                if (newQuantity <= 0) {
                    this.removeDisplayedProduct(event, id);
                }
                else {
                    var prodIndex = cart.currentCartContent.productList.findIndex(p => p.id == id);
                    var prod = cart.currentCartContent.productList[prodIndex];

                    var quantityID = '#quantity' + id;
                    document.querySelector(quantityID).innerHTML = prod.quantity;

                    var priceID = '#price' + id;
                    document.querySelector(priceID).innerHTML = '€ ' + ((prod.price.replace(',', '.')) * prod.quantity).toFixed(2).replace('.', ',');
                }

                this.updateTotalPrice();
            },

            plusProduct: function (event, id) {
                cart.addToCart(event, id);

                var prodIndex = cart.currentCartContent.productList.findIndex(p => p.id == id);
                var prod = cart.currentCartContent.productList[prodIndex];

                var quantityID = '#quantity' + id;
                document.querySelector(quantityID).innerHTML = prod.quantity;

                var priceID = '#price' + id;
                document.querySelector(priceID).innerHTML = '€ ' + ((prod.price.replace(',', '.')) * prod.quantity).toFixed(2).replace('.', ',');

                this.updateTotalPrice();
            },

            removeDisplayedProduct: function (event, id) {
                var rowID = '#overviewrow' + id;
                var toBeRemovedRowItem = document.querySelector(rowID);
                toBeRemovedRowItem.parentNode.removeChild(toBeRemovedRowItem);

                this.updateTotalPrice();
            },

            updateTotalPrice: function () {
                var cartContent = cart.getCurrentCart();

                if (cartContent) {
                    var totalPrice = 0;

                    cartContent.productList.forEach(prod => {
                        totalPrice += ((prod.price.replace(',', '.')) * prod.quantity);
                    });

                    document.querySelector('#totalpriceoverview').innerHTML = '€ ' + totalPrice.toFixed(2).replace('.', ',');
                }
                else {
                    document.querySelector('#product-overview-filled').classList.add('hide');
                    document.querySelector('#product-overview-empty').classList.remove('hide');
                }

            }
        }

        window.onload = cart.clearCartDisplay();

    </script>

}