
@{
    ViewBag.Title = Resources.Global.Home;
}
<div class="container">

    <h2 class="product-list-title"> @Resources.Global.NewestProducts </h2>

    <hr />

    <div class="row">

        @Html.Action("NewestProducts", "Products")

    </div>

    <h2 class="product-list-title"> @Resources.Global.BestSellers </h2>

    <hr />

    <div class="row">

        @Html.Action("BestSellingProducts", "Products")

    </div>

</div>
@section Styles {
    @Styles.Render("~/Content/Pages/ProductList.css")
    @Styles.Render("~/Content/Pages/AddToCartButton.css")
}
