
@{
    ViewBag.Title = "\"" + ViewBag.SearchQuery + "\"";
}
@using RudycommerceData.Models.ASPModels;

<div class="container">
<h2 class="product-list-title">@String.Format(Resources.Global.YourSearchQuery, ViewBag.SearchQuery)</h2>
<hr />
    </div>

@if (((List<ProductListItem>)ViewBag.Products).Count() == 0)
{
    <div>@Resources.Global.NoProductsFound</div>
}
else
{

    @Html.Partial("_FilterableProductList")
}

@section Styles {
    @Styles.Render("~/Content/Pages/ProductList.css")
    @Styles.Render("~/Content/Pages/AddToCartButton.css")
}

