<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rudycommerce</title>

    <link type="text/css" rel="stylesheet" href="~/Content/css" />

    <link href="~/Content/Pages/Layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Pages/CheckoutLayout.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Pages/ShoppingCart.css" />


    @RenderSection("Styles", false)
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
@{
    Layout = null;
    string classArrow1 = "";
    string classArrow2 = "";
    string classArrow3 = "";

    if (ViewBag.CheckoutProgress != null)
    {
        switch ((int)ViewBag.CheckoutProgress)
        {
            case 1:
                classArrow1 = "current-progress";
                break;

            case 2:
                classArrow2 = "current-progress";
                break;

            case 3:
                classArrow3 = "current-progress";
                break;

            default:

                break;
        }
    }
}
<body> 
    <header class="sticky-top">

        <nav class="navbar navbar-expand-lg navbar-light navbarbackground bold content-center">

            <a class="navbar-brand" href="@Url.Action("Index", "Products", null)">
                <img src="~/Images/LogoRudyCommerce.png" alt="Rudycommerce @Resources.ImgAltTexts.Logo" class="brand-logo" />
            </a>

            <ul class="navbar-nav right">
                <li class="nav-item lang-item content-vertical-center">
                    @Html.Action("_LanguageSelection", "Languages")
                </li>
                <li class="nav-item shoppingcartbutton collapse">

                    @Html.Partial("_ShoppingCart")

                </li>
            </ul>
        </nav>

    </header>

    <content>
        <div class="container-fluid body-content">

            <div id="progress-container" class="content-center container">
                <div class="row">
                    <div class="col-12 col-md-4 arrow-prog @classArrow1">
                        <div class="content-vertical-center arrow-text">
                            <span class="circle content-center">1</span>
                            @Resources.Checkout.PersonalInfoArrow
                        </div>
                    </div>

                    <div class="col-12 col-md-4 arrow-prog @classArrow2">
                        <div class="content-vertical-center arrow-text">
                            <span class="circle content-center">2</span>
                            @Resources.Checkout.DeliveryArrow
                        </div>
                    </div>
                    <div class="col-12 col-md-4 arrow-prog @classArrow3">
                        <div class="content-vertical-center arrow-text">
                            <span class="circle content-center">3</span>
                            @Resources.Checkout.PaymentArrow
                        </div>
                    </div>

                </div>
            </div>
            <div class="h-page-title mobiletablet-hide">
                <h2 class="text-center">@ViewBag.Title</h2>
                <hr class="hr80" />
            </div>
            <div class="row">


                @if (ViewBag.HideCartOverview != null)
                {
                    <div class="col-12">
                        @RenderBody()
                    </div>
                }
                else
                {

                    <div id="checkout-cart-list" class="col-12 col-sm-12 col-md-4">
                        @Html.Action("_CheckoutCartList", controllerName: "Products")
                    </div>
                    <div class="col-12 col-sm-12 col-md-8">
                        <div class="h-page-title nonmobiletablet-hide">
                            <h2 class="text-center">@ViewBag.Title</h2>
                            <hr class="hr80" />
                        </div>
                        @RenderBody()
                    </div>
                }

            </div>
        </div>
    </content>

    <footer>
        <hr />
        @Html.Partial("_Footer")
    </footer>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/Pages/Global.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>