<nav class="navbar navbar-expand-lg navbar-light navbarbackground bold">

    @if (ViewBag.IsHome == null)
    {
        <a class="navbar-brand" href="@Url.Action("Index", "Products", null)">
            <img src="~/Images/LogoRudyCommerce.png" alt="Rudycommerce @Resources.ImgAltTexts.Logo" class="brand-logo" />
        </a>
    }
    else
    {
        <img src="~/Images/LogoRudyCommerce.png" alt="Rudycommerce @Resources.ImgAltTexts.Logo" class="brand-logo" />
    }

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsableNav" aria-controls="collapsableNav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="collapsableNav">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                @Html.Action("_CategoryDropdown", "Categories")
            </li>

        </ul>
        <ul class="navbar-nav right">
            <li class="nav-item content-vertical-center">
                @using (Html.BeginForm("Index", "Products", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0" }))
                {
                    <input class="form-control mr-sm-2" autocomplete="off" type="search" placeholder="@Resources.Global.Search" aria-label="@Resources.Global.Search"
                           id="search" name="search" value="@ViewBag.SearchQuery" onchange="try{setCustomValidity('')}catch(e){}" oninvalid="setCustomValidity('@Resources.Global.SearchInputRequired')" required />

                    <button class="btn btn-outline-success form-submit my-2 my-sm-0" type="submit">@Resources.Global.Search</button>
                }
            </li>
            <li class="nav-item lang-item content-vertical-center">
                @Html.Action("_LanguageSelection", "Languages")
            </li>

            @{ 
                string liClass = "";
                if (ViewBag.HideCart != null)
                {
                    liClass = "collapse";
                }
            }
            <li class="nav-item shoppingcartbutton @liClass">
                
                @Html.Partial("_ShoppingCart")
                
            </li>
        </ul>

    </div>
</nav>