@model RudycommerceData.Entities.Client
@using RudycommerceLib.Reflection 
@using RudycommerceData.Entities
@{
    ViewBag.Title = Resources.Checkout.PersonalInfo;
    Layout = "~/Views/Shared/_CheckoutLayout.cshtml";
}

@section Styles{
    <style>
        .container.content-center form {
            width: 65%;
        }

        .form-horizontal > div.row > div{
            padding: 0;
        }

        .form-horizontal > .form-group > div {
            padding: 0;
        }
        .form-horizontal > .form-group > label {
            padding: 0;
        }
    </style>
}

<div class="container content-center">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

            <!--First name and Last name-->
            <div class="row">

                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Checkout.ForExampleABBR + " " + Resources.Checkout.ExampleFirstName } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Checkout.ForExampleABBR + " " + Resources.Checkout.ExampleLastName } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <!--Email-->
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Checkout.ForExampleABBR + " " + Resources.Checkout.ExampleEmail } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Street and Number-->
            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StreetAndNumber, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.StreetAndNumber, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Checkout.ForExampleABBR + " " + Resources.Checkout.ExampleStreetAndNumber } })
                            @Html.ValidationMessageFor(model => model.StreetAndNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MailBox, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.MailBox, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MailBox, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <!--Postal code and City-->
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Checkout.ForExampleABBR + " " + Resources.Checkout.ExamplePostalCode } })
                            @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-9">
                    <div class="form-group">
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Checkout.ForExampleABBR + " " + Resources.Checkout.ExampleCity } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <!--Country-->
            <div class="row">                
                <div class="col-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CountryCode, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.DropDownListFor(model => model.CountryCode, new SelectList(Model.CountriesByCode, "Key", "Value"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.AccountUser, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-12">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AccountUser)
                        @Html.ValidationMessageFor(model => model.AccountUser, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WantsNewsletter, htmlAttributes: new { @class = "control-label col-12" })
                <div class="col-12">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.WantsNewsletter)
                        @Html.ValidationMessageFor(model => model.WantsNewsletter, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-12">
                    <input type="submit" value="Create (to the right)" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>