
@{
    ViewBag.Title = Resources.Checkout.PersonalInfo;
    Layout = "~/Views/Shared/_CheckoutLayout.cshtml";
}
<div class="container">

    <div class="row">
        <div class="col-12 col-md-6 m-bot-2">
            
                @Html.Partial("_Login", (RudycommerceData.Models.ASPModels.LoginModel)ViewBag.LoginModel)            

            </div>
        <div class="col-12 col-md-6 border-left">

            <h3 class="text-center m-bot-2"> @Resources.Checkout.NoAccountTitle </h3>

            <div class="content-center m-bot-2">
                @Html.Raw(Resources.Checkout.NoAccountContent)
            </div>

            <div class="row content-vertcen-right"><button class="btn btn-secondary" onclick="location.href='@Url.Action("PersonalInfoForm", "Clients")'"> @Resources.Checkout.ContinueToPersonalInfoForm </button></div>
        </div>
    </div>
</div>

@section Styles {
    
<style>
        .border-left {
            border-left: 1px solid black;
        }
</style>

    }